/* Initial Colors */
$shark: #2F3136;
$white: #ffffff;
$black: #000000;
$green: #E4FFC8;
$purple: #842EB7;
$gray:#D4D4D4;


/* Derived Variables */

$theme-dark-grey: $shark;
$theme-white: $white;
$theme-black: $black;

/* Font family */
$font-stack:  "Verdana", "Arial", sans-serif !default;